@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);



#header4-0 H1 {
  font-family: 'Noto Sans', sans-serif;
}
#content5-43 DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #f7da64;
}
#content5-43 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
#content5-43 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-43 .mbr-article {
  color: #f7da64;
  text-align: center;
}
#content5-43 .mbr-article DIV {
  text-align: center;
  color: #f7da64;
}
#msg-box3-44 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-44 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-44 .mbr-article P {
  text-align: center;
  color: #b8312f;
}
#msg-box3-44 .mbr-article UL {
  text-align: center;
}
#msg-box5-17 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-17 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-17 .mbr-article {
  color: #ffffff;
}
#msg-box5-17 .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-17 .mbr-article P {
  text-align: left;
}





#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-10 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#menu-10 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-41 P {
  text-align: center;
}
#msg-box1-41 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-41 .mbr-article {
  color: #fff;
  font-size: 21px;
}
#features1-13 .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-13 P {
  text-align: center;
  color: #000000;
}
#features1-14 .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-14 P {
  text-align: center;
  color: #000000;
}
#features1-14 H3 {
  color: #000000;
}
#contacts1-19 B {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#contacts1-19 P {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}



#content5-20 .caption h3 P {
  font-size: 46px;
  text-align: center;
}
#content5-20 B {
  color: #eb6b56;
}
#content5-20 DIV {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  color: #faaf40;
}
#content5-20 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-article {
  color: #faaf40;
  text-align: center;
}
#content4-40 P {
  text-align: center;
  color: #000000;
}
#contacts1-38 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  text-align: left;
  color: #ffffff;
}
#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#ext_menu-22 .mbr-navbar__items a {
  font-size: 14px;
}
#ext_menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}





#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-1 P {
  text-align: center;
}
#msg-box1-1 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1 .mbr-article {
  color: #fff;
  font-size: 21px;
}
#features1-2 .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-2 P {
  text-align: center;
  color: #000000;
}
#features1-3 .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-3 P {
  text-align: center;
  color: #000000;
}
#features1-3 H3 {
  color: #000000;
}
#contacts1-4 B {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#contacts1-4 P {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}



#header4-5 H1 {
  font-family: 'Noto Sans', sans-serif;
}
#content5-6 DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #f7da64;
}
#content5-6 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
#content5-6 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6 .mbr-article {
  color: #f7da64;
  text-align: center;
}
#content5-6 .mbr-article DIV {
  text-align: center;
  color: #f7da64;
}
#msg-box3-7 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-7 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7 .mbr-article P {
  text-align: center;
  color: #b8312f;
}
#msg-box3-7 .mbr-article UL {
  text-align: center;
}
#msg-box5-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-9 .mbr-article {
  color: #ffffff;
}
#msg-box5-9 .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-9 .mbr-article P {
  text-align: left;
}



#content5-c .caption h3 P {
  font-size: 46px;
  text-align: center;
}
#content5-c B {
  color: #eb6b56;
}
#content5-c DIV {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  color: #faaf40;
}
#content5-c .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-c .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-c .mbr-article {
  color: #faaf40;
  text-align: center;
}
#content4-d P {
  text-align: center;
  color: #000000;
}
#contacts1-e P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  text-align: left;
  color: #ffffff;
}
#ext_menu-f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-f .mbr-navbar__section {
  background: #000000;
}
#ext_menu-f .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#ext_menu-f .mbr-navbar__items a {
  font-size: 14px;
}
#ext_menu-f .mbr-navbar__hamburger {
  color: #ffffff;
}



#content5-h .caption h3 P {
  font-size: 46px;
  text-align: center;
}
#content5-h B {
  color: #eb6b56;
}
#content5-h DIV {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  color: #faaf40;
}
#content5-h .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-h .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-h .mbr-article {
  color: #faaf40;
  text-align: center;
}
#content4-i P {
  text-align: center;
  color: #000000;
}
#contacts1-j P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  text-align: left;
  color: #ffffff;
}
#ext_menu-k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-k .mbr-navbar__section {
  background: #000000;
}
#ext_menu-k .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#ext_menu-k .mbr-navbar__items a {
  font-size: 14px;
}
#ext_menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}



#header4-l H1 {
  font-family: 'Noto Sans', sans-serif;
}
#content5-m DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #f7da64;
}
#content5-m .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
#content5-m .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-m .mbr-article {
  color: #f7da64;
  text-align: center;
}
#content5-m .mbr-article DIV {
  text-align: center;
  color: #f7da64;
}
#msg-box3-n .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-n .mbr-article P {
  text-align: center;
  color: #b8312f;
}
#msg-box3-n .mbr-article UL {
  text-align: center;
}
#msg-box5-p .mbr-header__text {
  color: #ffffff;
}
#msg-box5-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-p .mbr-article {
  color: #ffffff;
}
#msg-box5-p .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-p .mbr-article P {
  text-align: left;
}



#content5-s .caption h3 P {
  font-size: 46px;
  text-align: center;
}
#content5-s B {
  color: #eb6b56;
}
#content5-s DIV {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  color: #faaf40;
}
#content5-s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-article {
  color: #faaf40;
  text-align: center;
}
#content4-t P {
  text-align: center;
  color: #000000;
}
#contacts1-u P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  text-align: left;
  color: #ffffff;
}
#ext_menu-v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-v.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-v .mbr-navbar__section {
  background: #000000;
}
#ext_menu-v .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#ext_menu-v .mbr-navbar__items a {
  font-size: 14px;
}
#ext_menu-v .mbr-navbar__hamburger {
  color: #ffffff;
}



#header4-w H1 {
  font-family: 'Noto Sans', sans-serif;
}
#content5-x DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #f7da64;
}
#content5-x .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
#content5-x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-x .mbr-article {
  color: #f7da64;
  text-align: center;
}
#content5-x .mbr-article DIV {
  text-align: center;
  color: #f7da64;
}
#msg-box3-y .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-y .mbr-article P {
  text-align: center;
  color: #b8312f;
}
#msg-box3-y .mbr-article UL {
  text-align: center;
}
#msg-box5-10 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-10 .mbr-article {
  color: #ffffff;
}
#msg-box5-10 .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-10 .mbr-article P {
  text-align: left;
}





#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-12 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-12 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#menu-12 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-13 P {
  text-align: center;
}
#msg-box1-13 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-13 .mbr-article {
  color: #fff;
  font-size: 21px;
}
#features1-14 .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-14 P {
  text-align: center;
  color: #000000;
}
#features1-15 .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-15 P {
  text-align: center;
  color: #000000;
}
#features1-15 H3 {
  color: #000000;
}
#contacts1-16 B {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#contacts1-16 P {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}



#content5-18 .caption h3 P {
  font-size: 46px;
  text-align: center;
}
#content5-18 B {
  color: #eb6b56;
}
#content5-18 DIV {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  color: #faaf40;
}
#content5-18 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #faaf40;
  text-align: center;
}
#content4-19 P {
  text-align: center;
  color: #000000;
}
#contacts1-1a P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  text-align: left;
  color: #ffffff;
}
#ext_menu-1b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1b.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1b .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1b .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#ext_menu-1b .mbr-navbar__items a {
  font-size: 14px;
}
#ext_menu-1b .mbr-navbar__hamburger {
  color: #ffffff;
}



#header4-1c H1 {
  font-family: 'Noto Sans', sans-serif;
}
#content5-1d DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #f7da64;
}
#content5-1d .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
#content5-1d .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1d .mbr-article {
  color: #f7da64;
  text-align: center;
}
#content5-1d .mbr-article DIV {
  text-align: center;
  color: #f7da64;
}
#msg-box3-1e .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-1e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1e .mbr-article P {
  text-align: center;
  color: #b8312f;
}
#msg-box3-1e .mbr-article UL {
  text-align: center;
}
#msg-box5-1g .mbr-header__text {
  color: #ffffff;
}
#msg-box5-1g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-1g .mbr-article {
  color: #ffffff;
}
#msg-box5-1g .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-1g .mbr-article P {
  text-align: left;
}





#menu-1i .mbr-brand__name {
  font-size: 16px;
}
#menu-1i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1i .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1i .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#menu-1i .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#menu-1i .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-1j P {
  text-align: center;
}
#msg-box1-1j .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1j .mbr-article {
  color: #fff;
  font-size: 21px;
}
#features1-1k .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-1k P {
  text-align: center;
  color: #000000;
}
#features1-1l .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-1l P {
  text-align: center;
  color: #000000;
}
#features1-1l H3 {
  color: #000000;
}
#contacts1-1m B {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#contacts1-1m P {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}



#header4-1n H1 {
  font-family: 'Noto Sans', sans-serif;
}
#content5-1o DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #f7da64;
}
#content5-1o .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
#content5-1o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1o .mbr-article {
  color: #f7da64;
  text-align: center;
}
#content5-1o .mbr-article DIV {
  text-align: center;
  color: #f7da64;
}
#msg-box3-1p .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-1p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1p .mbr-article P {
  text-align: center;
  color: #b8312f;
}
#msg-box3-1p .mbr-article UL {
  text-align: center;
}
#msg-box5-1r .mbr-header__text {
  color: #ffffff;
}
#msg-box5-1r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-1r .mbr-article {
  color: #ffffff;
}
#msg-box5-1r .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-1r .mbr-article P {
  text-align: left;
}





#menu-1t .mbr-brand__name {
  font-size: 16px;
}
#menu-1t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1t .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1t .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#menu-1t .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#menu-1t .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-1u P {
  text-align: center;
}
#msg-box1-1u .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1u .mbr-article {
  color: #fff;
  font-size: 21px;
}
#features1-1v .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-1v P {
  text-align: center;
  color: #000000;
}
#features1-1w .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-1w P {
  text-align: center;
  color: #000000;
}
#features1-1w H3 {
  color: #000000;
}
#contacts1-1x B {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#contacts1-1x P {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}



#content5-1z .caption h3 P {
  font-size: 46px;
  text-align: center;
}
#content5-1z B {
  color: #eb6b56;
}
#content5-1z DIV {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  color: #faaf40;
}
#content5-1z .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1z .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1z .mbr-article {
  color: #faaf40;
  text-align: center;
}
#content4-20 P {
  text-align: center;
  color: #000000;
}
#contacts1-21 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  text-align: left;
  color: #ffffff;
}
#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#ext_menu-22 .mbr-navbar__items a {
  font-size: 14px;
}
#ext_menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}





#menu-23 .mbr-brand__name {
  font-size: 16px;
}
#menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-23 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-23 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#menu-23 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#menu-23 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-24 P {
  text-align: center;
}
#msg-box1-24 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-24 .mbr-article {
  color: #fff;
  font-size: 21px;
}
#features1-25 .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-25 P {
  text-align: center;
  color: #000000;
}
#features1-26 .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-26 P {
  text-align: center;
  color: #000000;
}
#features1-26 H3 {
  color: #000000;
}
#contacts1-27 B {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#contacts1-27 P {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}



#header4-28 H1 {
  font-family: 'Noto Sans', sans-serif;
}
#content5-29 DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #f7da64;
}
#content5-29 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
#content5-29 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-29 .mbr-article {
  color: #f7da64;
  text-align: center;
}
#content5-29 .mbr-article DIV {
  text-align: center;
  color: #f7da64;
}
#msg-box3-2a .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-2a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2a .mbr-article P {
  text-align: center;
  color: #b8312f;
}
#msg-box3-2a .mbr-article UL {
  text-align: center;
}
#msg-box5-2c .mbr-header__text {
  color: #ffffff;
}
#msg-box5-2c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-2c .mbr-article {
  color: #ffffff;
}
#msg-box5-2c .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-2c .mbr-article P {
  text-align: left;
}





#menu-2e .mbr-brand__name {
  font-size: 16px;
}
#menu-2e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2e .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2e .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#menu-2e .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#menu-2e .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-2f P {
  text-align: center;
}
#msg-box1-2f .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-2f .mbr-article {
  color: #fff;
  font-size: 21px;
}
#features1-2g .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-2g P {
  text-align: center;
  color: #000000;
}
#features1-2h .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-2h P {
  text-align: center;
  color: #000000;
}
#features1-2h H3 {
  color: #000000;
}
#contacts1-2i B {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#contacts1-2i P {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}





#menu-2j .mbr-brand__name {
  font-size: 16px;
}
#menu-2j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2j .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2j .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#menu-2j .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#menu-2j .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-2k P {
  text-align: center;
}
#msg-box1-2k .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-2k .mbr-article {
  color: #fff;
  font-size: 21px;
}
#features1-2l .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-2l P {
  text-align: center;
  color: #000000;
}
#features1-2m .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-2m P {
  text-align: center;
  color: #000000;
}
#features1-2m H3 {
  color: #000000;
}
#contacts1-2n B {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#contacts1-2n P {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}



#content5-2p .caption h3 P {
  font-size: 46px;
  text-align: center;
}
#content5-2p B {
  color: #eb6b56;
}
#content5-2p DIV {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  color: #faaf40;
}
#content5-2p .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2p .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2p .mbr-article {
  color: #faaf40;
  text-align: center;
}
#content4-2q P {
  text-align: center;
  color: #000000;
}
#contacts1-2r P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  text-align: left;
  color: #ffffff;
}
#ext_menu-2s .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2s.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2s .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2s .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#ext_menu-2s .mbr-navbar__items a {
  font-size: 14px;
}
#ext_menu-2s .mbr-navbar__hamburger {
  color: #ffffff;
}



#header4-2t H1 {
  font-family: 'Noto Sans', sans-serif;
}
#content5-2u DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #f7da64;
}
#content5-2u .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
#content5-2u .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2u .mbr-article {
  color: #f7da64;
  text-align: center;
}
#content5-2u .mbr-article DIV {
  text-align: center;
  color: #f7da64;
}
#msg-box3-2v .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-2v .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2v .mbr-article P {
  text-align: center;
  color: #b8312f;
}
#msg-box3-2v .mbr-article UL {
  text-align: center;
}
#msg-box5-2x .mbr-header__text {
  color: #ffffff;
}
#msg-box5-2x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-2x .mbr-article {
  color: #ffffff;
}
#msg-box5-2x .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-2x .mbr-article P {
  text-align: left;
}
